body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", serif;
  font-size: 16px;
  color: black;
}
h1 {
  font-size: 32px;
  color: chocolate;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18.72px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 13.28px;
}
h6 {
  font-size: 10.72px;
}
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.container img {
  vertical-align: middle;
  width: 100%;
  height: 200px;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: chocolate;
  width: 100%;
  padding: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: chocolate;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: chocolate;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightsalmon;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: chocolate;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  color: chocolate;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
